body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

html {
    height: 100%;
}

.slider {
    width: 200px;
    
}
